<!DOCTYPE html>
<html lang="en" xmlns:ng="http://angularjs.org">
{% load i18n %}
<head>

    {% include "_header.html" %}

</head>

<body>

<!-- Part 1: Wrap all page content here -->
<div id="wrap">

    <!-- Fixed navbar -->
    <div class="navbar navbar-fixed-top" style="background-color: #65B3E1; height:50px;">


        <div class="container">
            <div class="row">
                <div class="span3">
                    <div id="logo"></div>
                </div>
                <div class="span6">
                </div>
                <div class="span3">
                    {% if user.is_authenticated %}
                    <div class="btn-group pull-right" style="margin-top:10px;">

                        <button class="btn"><i class="icon-user" style="margin-right: 5px"></i>{{ user.get_full_name }}</button>
                        <button class="btn dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="/logout/"><i class="icon-off" style="margin-right: 5px"></i>{% trans 'Log out' %}</a></li>
                            <li><a href="/admin/"><i class="icon-cog" style="margin-right: 5px"></i>{% trans 'Admin' %}</a></li>
                        </ul>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>

    <!-- Begin page content -->

    {% block content %}content here{% endblock %}


    <div id="push"></div>
</div>

<div id="footer">
    <div class="container">
        <span style="display: block; margin-left:auto; margin-right: auto; text-align: center; font-size: 12px; color: #777;">
            &copy; {% now "Y" %} Rapasso, The Netherlands
        </span>
    </div>
</div>

{% include "_jslibs.html" %}

{% if user.is_authenticated %}

{% else %}

    <!-- script for type-ahead of LOC Search -->
    {% include "_js_search.html" %}

{% endif %}

</body>
</html>

