<script>

$('#typeahead').typeahead({
    minLength: 3,
    source: function (query, process) {
    return $.getJSON('/api/search', { query: query }, function (data) {
        locs = [];
        map = {};
        $.each(data, function (i, locdef) {
            map[locdef.value] = locdef;
            locs.push(locdef.value);
        });

        return process(locs);
        });

    },
    updater: function (item) {
        selectedLoc = map[item].uri;
        $('#result').load(selectedLoc, function(){
            $('#typeahead').val("");
        });
        return item;
    }
});

$('#clear').on('click', function() {
    $('#typeahead').val("");
    $('#result').empty();
});

$(document).ready(function() {
    $('#typeahead').val("").focus();
    $('#result').empty();
});

</script>
