<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}bootstrap/2.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}bootstrap/2.3.1/js/bootstrap-fileupload.min.js"></script>
<!--
<script type="text/javascript" src="/static/bootstrap-formhelpers/js/bootstrap-formhelpers-selectbox.js"></script>
<script type="text/javascript" src="/static/bootstrap-formhelpers/js/bootstrap-formhelpers-countries.en_US.js"></script>
<script type="text/javascript" src="/static/bootstrap-formhelpers/js/bootstrap-formhelpers-languages.codes.js"></script>
<script type="text/javascript" src="/static/bootstrap-formhelpers/js/bootstrap-formhelpers-languages.js"></script>
-->
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/angular/ui/0.4.0/angular-ui.min.js"></script>
<script type="text/javascript" src="/static/js/main.js"></script>
