<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}bootstrap/2.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}bootstrap/2.3.1/js/bootstrap-fileupload.min.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/angular/ui/0.4.0/angular-ui.min.js"></script>
<script type="text/javascript" src="/static/js/main.js"></script>

<!-- sample comment for testing git pull on inloc.rapasso.eu -->