{% extends "_base.html" %}
<!-- login.html -->
{% load i18n %}

{% block content %}

    <div class="container" class="ng-app:InLOC" id="ng-app" ng-app="InLOC">
        <div class="row">
            <div class="span3">
                <div class="well sidebar-nav">
                    <h4>LOC Structures</h4>
                    <hr />
                    <ul class="nav nav-list" id="locstructure-list" ng-controller="LOCStructureListController" ng-cloak class="ng-cloak">

                        <div ng-repeat="locstructure in locstructures">

                            {% verbatim %}

                                <li><a href="#/locstructure/{{ locstructure.pk_id }}">{{ locstructure.title }}</a></li>

                            {% endverbatim %}
                        </div>

                    </ul>

                    <div class="btn-group" style="margin-top: 25px">

                        <button class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-plus icon-white" style="margin-right: 5px"></i>add
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#/loc/add">From scratch</a></li>
                            <li><a href="#/loc/import">Import XML</a></li>
                        </ul>
                    </div>

                    <hr />

                        <a href="/api/" target="_blank"><img src="/static/icons/gear_view.png" /> View API V1</a>

                </div>
            </div>
            <div class="span9">

                <ng-view>



                </ng-view>

            </div>
        </div>

    </div>

{% endblock %}