{% extends "_base.html" %}
<!-- login.html -->
{% load i18n %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="span9">
                <div class="page-header">
                    <h1>Rapasso InLOC Search</h1>
                </div>
            </div>
            <div class="span3">
                <span class="pull-right">
                    <a href="/login/">
                        <i class="icon-cog" style="margin-right: 5px; opacity: 0.5"></i>
                        {% trans 'admin' %}
                    </a>
                </span>
            </div>
        </div>

        <div class="row">
            <div class="span3">
                <p>The European funded project, called <a href="http://wiki.teria.no/display/inloc/Home" target="_blank">InLOC</a>,
                    allows descriptions of learning outcomes and competences to be managed and exchanged.<br>

                    <a href="http://wiki.teria.no/display/inloc/Home" target="_blank">InLOC</a> will enable services that guide people to and through learning into employment.
                    It will support mobility by enabling links to be made between information about a learner's capability, employers' requirements and intended outcomes of learning opportunities.<br>

                    An information model has been created for representing both learning outcomes and competences.<br>
                    The models published by <a href="http://wiki.teria.no/display/inloc/Home" target="_blank">InLOC</a>
                    in this field are able to express a wide range of information and clarify relationships between components.<br>
                </p>
                <p>The final technical specification will be put forward as a European Standard (EN).</p>
            </div>
            <div class="span6">

                <div class="input-append">
                    <input type="text"
                           name="query"
                           id="typeahead"
                           class="input-medium span5"
                           placeholder="Start typing to search for competences or learning outcomes">
                    <button class="btn btn-warning" type="button" id="clear"><i class="icon-remove-sign icon-white" style="margin-right: 5px"></i>Clear</button>
                </div>
                <div id="result"></div>

            </div>
            <div class="span3">
                <p>This is a prototype of an <a href="http://wiki.teria.no/display/inloc/Home" target="_blank">InLOC</a> editor created of several components
                    of <a href="http://www.rapasso.com/" target="_blank">Rapasso</a>.<br><br><br>
                    The complete source code of this application is open sourced and available on <a href="https://github.com/henkvos/InLOC/" target="_blank">GitHub</a> under GPL version 3 license.<br>
                    If you would like to contribute to it's development or an account to try it out, please contact:<br><br>
                <address>
                    <strong>Simon Grant</strong><br>
                    Team leader <a href="http://wiki.teria.no/display/inloc/Home" target="_blank">InLOC</a> project<br>
                    <a href="mailto:asimong@gmail.com">asimong@gmail.com</a>
                </address>
                <address>
                    <strong>Henk Vos</strong><br>
                    Software architect of <a href="http://www.rapasso.com/" target="_blank">Rapasso</a><br>
                    <a href="mailto:henk@rapasso.nl">henk@rapasso.nl</a>
                </address>

                </p>
            </div>

        </div>

    </div>

{% endblock %}