{% load i18n %}


<div class="row">
    <div class="span6">
        <h3>Start here...</h3>
    </div>
    <div class="span3">
        <p>This is a prototype of an <a href="http://wiki.teria.no/display/inloc/Home" target="_blank">InLOC</a> editor created of several components
            of <a href="http://www.rapasso.com/" target="_blank">Rapasso</a>.<br><br><br>
            The complete source code of this application is open sourced and available on <a href="https://github.com/henkvos/InLOC/" target="_blank">GitHub</a> under GPL version 3 license.<br>
            If you would like to contribute to it's development or an account to try it out, please contact:<br><br>
        <address>
            <strong>Simon Grant</strong><br>
            Team leader <a href="http://wiki.teria.no/display/inloc/Home" target="_blank">InLOC</a> project<br>
            <a href="mailto:asimong@gmail.com">asimong@gmail.com</a>
        </address>
        <address>
            <strong>Henk Vos</strong><br>
            Software architect of <a href="http://www.rapasso.com/" target="_blank">Rapasso</a><br>
            <a href="mailto:henk@rapasso.nl">henk@rapasso.nl</a>
        </address>
        </p>
    </div>
</div>


